langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
langchain_groq
fastapi
uvicorn
langserve
arxiv 
wikipedia
duckduckgo-search
